<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="8633b604-cbb1-4f1a-988a-2f038d70ddbc" Version="1.0.0.0" Language="1033" Name="QR-Code Reader" Manufacturer="Otto Zumkeller">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="QR-Code Reader.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="QR-Code Reader"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="QR-Code Reader"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="read.ps1" Guid="60c4fad0-c86f-4d19-a565-8f9cf91f42be">
                <File Id="read.ps1" Source=".\Install Files\read.ps1" KeyPath="no" />
            </Component>
            <Component Id="libpng12_0.dll" Guid="67dd35a2-7c55-42ed-9ad1-36a27674fc39">
                <File Id="libpng12_0.dll" KeyPath="no" Source=".\Install Files\libpng12-0.dll" />
            </Component>
            <Component Id="zbarimg.exe" Guid="2c6cfd0b-f1b0-485d-bf7c-01b9d0d9e47b">
                <File Id="zbarimg.exe" KeyPath="no" Source=".\Install Files\zbarimg.exe" />
            </Component>
            <Component Id="libiconv_2.dll" Guid="6c04bd55-5091-4f19-bdde-397b293a80db">
                <File Id="libiconv_2.dll" KeyPath="no" Source=".\Install Files\libiconv-2.dll" />
            </Component>
            <Component Id="zlib1.dll" Guid="0604a6c2-f826-422a-8e75-b445e6037c58">
                <File Id="zlib1.dll" KeyPath="no" Source=".\Install Files\zlib1.dll" />
            </Component>
            <Component Id="libtiff_3.dll" Guid="210810c8-10e2-4491-8cad-db363d9d1cb3">
                <File Id="libtiff_3.dll" KeyPath="no" Source=".\Install Files\libtiff-3.dll" />
            </Component>
            <Component Id="libMagickCore_2.dll" Guid="cd3f8f8e-2632-4f60-8b5f-8057d05c87fa">
                <File Id="libMagickCore_2.dll" KeyPath="no" Source=".\Install Files\libMagickCore-2.dll" />
            </Component>
            <Component Id="libMagickWand_2.dll" Guid="81b21a06-e16b-49d3-a17b-34a15a1b58d5">
                <File Id="libMagickWand_2.dll" KeyPath="no" Source=".\Install Files\libMagickWand-2.dll" />
            </Component>
            <Component Id="libjpeg_7.dll" Guid="12b0cf03-5f5f-4d74-a187-7e4cb0061dfe">
                <File Id="libjpeg_7.dll" KeyPath="no" Source=".\Install Files\libjpeg-7.dll" />
            </Component>
            <Component Id="libzbar_0.dll" Guid="717d4dfa-957c-4932-8e5b-b10724d7edee">
                <File Id="libzbar_0.dll" KeyPath="no" Source=".\Install Files\libzbar-0.dll" />
            </Component>
            <Component Id="libxml2_2.dll" Guid="b1370971-9daf-4b71-b27b-cee4d31c2f25">
                <File Id="libxml2_2.dll" KeyPath="no" Source=".\Install Files\libxml2-2.dll" />
            </Component>
            <Component Id="qr_reader.ico" Guid="ca6b76ea-1dec-4a32-98e6-316aa6b01da4">
                <File Id="qr_reader.ico" KeyPath="no" Source=".\Install Files\qr_reader.ico" />
            </Component>
            <Component Id="key.exe" Guid="610792b9-7ffe-4971-8399-338e9bfe7a96">
                <File Id="key.exe" KeyPath="no" Source=".\Install Files\key.exe" />
            </Component>
            <Component Id="install.ps1" Guid="a4f4013c-4fd5-4e7b-a5ce-81db4caf3482">
                <File Id="install.ps1" KeyPath="no" Source=".\Install Files\install.ps1" />
            </Component>
            <Component Id="uninstall.ps1" Guid="500ab031-bfe7-4dd5-8f0c-1d7d28ad34c7">
                <File Id="uninstall.ps1" KeyPath="no" Source=".\Install Files\uninstall.ps1" />
            </Component>
        </DirectoryRef>

        <Icon Id="qr_reader.ico" SourceFile=".\Install Files\qr_reader.ico" />
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="ca561415-35ac-46ea-ae4d-099e4b28bc30">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="QR-Code Reader" Description="QR-Code Reader using Windows Snipping Tool, ZBar Image, AutoHotkey and BurntToast" Target="[SystemFolder]mshta.exe" Arguments="vbscript:Execute(&quot;CreateObject(&quot;&quot;WScript.Shell&quot;&quot;).Run &quot;&quot;powershell -ExecutionPolicy Bypass &amp; '[ProgramFilesFolder]QR-Code Reader\read.ps1'&quot;&quot;, 0:close&quot;)" WorkingDirectory="APPLICATIONROOTDIRECTORY" Icon="qr_reader.ico">
                    <ShortcutProperty Key="System.AppUserModel.ID" Value="Otto Zumkeller.QR-Code Reader" />
                    <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{1dbb2394-69a0-40a4-9222-6e5e0d3e3485}"></ShortcutProperty>
		        </Shortcut>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\QR-Code Reader" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="QR-Code Reader" Type="string" Value="&quot;[ProgramFilesFolder]QR-Code Reader\key.exe&quot;" KeyPath="no"/>
            </Component>
        </DirectoryRef>

        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="read.ps1" />
            <ComponentRef Id="libpng12_0.dll" />
            <ComponentRef Id="zbarimg.exe" />
            <ComponentRef Id="libiconv_2.dll" />
            <ComponentRef Id="zlib1.dll" />
            <ComponentRef Id="libtiff_3.dll" />
            <ComponentRef Id="libMagickCore_2.dll" />
            <ComponentRef Id="libMagickWand_2.dll" />
            <ComponentRef Id="libjpeg_7.dll" />
            <ComponentRef Id="libzbar_0.dll" />
            <ComponentRef Id="libxml2_2.dll" />
            <ComponentRef Id="key.exe" />
            <ComponentRef Id="qr_reader.ico" />
            <ComponentRef Id="install.ps1" />
            <ComponentRef Id="uninstall.ps1" />
        </Feature>

        <CustomAction Id="InstallScript" Directory="APPLICATIONROOTDIRECTORY" Execute="deferred" Impersonate="no" ExeCommand="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -ExecutionPolicy Bypass -File &quot;[APPLICATIONROOTDIRECTORY]install.ps1&quot;" Return="check" />
        <CustomAction Id="UninstallScript" Directory="APPLICATIONROOTDIRECTORY" Execute="deferred" Impersonate="no" ExeCommand="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -ExecutionPolicy Bypass -File &quot;[APPLICATIONROOTDIRECTORY]uninstall.ps1&quot;" Return="check" />

        <InstallExecuteSequence>
            <Custom Action="InstallScript" Before="InstallFinalize">NOT Installed</Custom>
            <Custom Action="UninstallScript" Before="RemoveFiles">REMOVE AND (NOT UPGRADINGPRODUCTCODE)</Custom>
        </InstallExecuteSequence>
    </Product>
</Wix>